@import "tailwindcss";

:root {
  --background: #000814;
  /* Deep Navy */
  --foreground: #ffffff;
  --royal-blue: #4169E1;
  --silver: #C0C0C0;
  --dark-azure: #001f3f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-royal-blue: var(--royal-blue);
  --color-silver: var(--silver);
  --color-dark-azure: var(--dark-azure);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --font-outfit: 'Outfit', sans-serif;
  --font-space-grotesk: 'Space Grotesk', sans-serif;
}

* {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

input,
textarea,
[contenteditable="true"] {
  user-select: text;
}

body {
  background: #000;
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}